<%= form_for(@employ) do |f| %>
  <% if @employ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employ.errors.count, "error") %> prohibited this employ from being saved:</h2>

      <ul>
      <% @employ.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :responsibility %><br>
    <%= f.text_area :responsibility %>
  </div>
  <div class="field">
    <%= f.label :date_start %><br>
    <%= f.date_select :date_start, :start_year => 1920, :end_year => Date.current.year %>
  </div>
  <div class="field">
    <%= f.label :date_finish %><br>
    <%= f.date_select :date_finish, :start_year => 1920, :end_year => Date.current.year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
