<%- model_class = User -%>
<%- model_class = Skill -%>
<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <%= image_tag @user.image.url(:thumb), class: "img-circle" %>
  <h3>I'm a <%= @user.first_name %> <%= @user.last_name %></h3>
</div>

<div class="container-fluid bg-2">
  <h3 class="text-center">Skills</h3>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Technology</th>
          <th>Years of Experience</th>
          <th>Proficiency</th>
        </tr>
      </thead>
      <tbody>
      <% @user.skills.each do |i| %>
        <tr>
          <td><%= i.technology %></td>
          <td><%= i.exp %></td>
          <td><%= i.proficiency %></td>
          <td><%= link_to "Edit", edit_skill_path(i), class: 'btn btn-primary' %></td>
          <td><%= link_to "Destroy", skill_path(i), method: 'delete', data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= render partial: "skills/form" %>
  </div>
</div>

<div class="container-fluid bg-3">
  <h3 class="text-center">Employment History</h3>
  <div class="container">
    <%= render partial: "employ" %>
    <%= link_to 'New Employ', new_employ_path, class: "form-control" %><br>
  </div>
</div>

<div class="container-fluid bg-2">
  <h3 class="text-center">Education</h3>
  <div class="container">
    <%= render partial: "education" %>
    <%= link_to 'New Education', new_education_path, class: "form-control" %><br>
  </div>
</div>

<div class="container-fluid bg-3">
  <h3>How To Find Me?</h3>
  <p>Phone: <%= @user.phone %></p>
  <p>Email: <%= @user.email %></p>
  <p>Skype: <%= @user.skype %></p>
  <p>GitHub: <%= @user.git %></p>
</div>